#social-buttons { 
  text-align: center; 
} 

.jumbotron1 { 
  min-height: 400px; 
  background-image: url(images/painttube.png); 
  background-size: cover; 
  background-attachment: fixed;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}


.jumbotron1 h1 { 
  font-weight: bold;
  color: rgba(32, 35, 41, 0.9) transparent;
  font-size: 120px;
  font-family: 'Bree Serif', serif;
  }
 
.jumbotronAbout { 
  min-height: 200px; 
  background-image: url(images/painttube.png); 
  background-size: cover; 
  background-attachment: fixed;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.jumbotronAbout h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: #333;
  }

  .jumbotronServices { 
  min-height: 200px; 
  background-image: url(images/painttube.png); 
  background-size: cover; 
  background-attachment: fixed;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.jumbotronServices h1 {
  font-size: 100px;
  font-family: 'Bree Serif', serif;
  color: #333;
  } 
.jumbotronServices h2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}


.jumbotronBreakerServices { 
  background-image: url(images/painttube.png); 
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%; 
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotronBreakerArt { 
  min-height: 500px; 
  background-image: url(images/painttube.png); 
  background-attachment: fixed;
  background-size: cover; 
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotronBreaker { 
  min-height: 500px; 
  background-image: url(images/painttube.png); 
  background-attachment: fixed;
  background-size: cover; 
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotronButtons { 
  min-height: 200px; 
  background-image: url(images/painttube.png); 
  background-attachment: fixed;
  background-size: cover; 
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  }


.page-headerArt {
  margin-left: 20px;
  margin-right: 20px;
}

body { padding-top: 70px; }


}

.jumbotron h2 {
  font-family: 'Cabin', sans-serif;
  color: #551A8B;
  font-weight: bold;
  margin-bottom: 1em;
}

}
#about {
  text-align: left;
  color: white;
  font-size: 20px;
  background-color: rgba(32, 35, 41, 0.9);
  
}

.container h3 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-color: black;
}


#center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.containerf {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav bar-wrapper {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: −90px;
}
.nav bar .brand,
.nav bar .nav > li > a {
 padding: 15px 20px;
}
